<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="DEFAULT_PATTERN">%highlight{[%-5level]} %style{[%date{ISO8601}] [%t] [%c{1}]}{Magenta} %msg %n</Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="${DEFAULT_PATTERN}"/>
        </Console>

        <Async name="ASYNC" includeLocation="true">
            <AppenderRef ref="CONSOLE"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- Default log level -->
        <Root level="INFO">
            <AppenderRef ref="ASYNC"/>
        </Root>

        <!-- Package-specific log level -->
        <AsyncLogger name="com.lorem" level="WARN"/>
        <AsyncLogger name="org.springframework" level="WARN"/>
        <AsyncLogger name="com.amazonaws" level="WARN"/>
    </Loggers>
</Configuration>